.page-list {
    .header {
        width: 100%;
        height: 80px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #d9d9d9;
        padding: 0 20px;

        .title {
            font-size: 22px;
            color: #262626;
        }

        .right-box {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }

        .search-box {
            border: 1px solid #d9d9d9;
            border-radius: 2px;
            margin: 20px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            color: #262626;

            .search-input {
                width: 180px;
                height: 30px;
                padding-left: 10px;
                border: none;
            }

            .search-btn {
                height: 30px;
                line-height: 30px;
                padding: 0 10px;
                border-left: 1px solid #d9d9d9;
                cursor: pointer;
            }
        }

        .btn-box {

        }
    }

    .content {
        width: 1366px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        padding: 30px 50px;
        margin: 0 auto;
    }

    .footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}
