.input-color-box {
    position: relative;
    border: 1px solid #d9d9d9;
    border-radius: 2px;

    &.small {
        height: 20px;
    }

    &.middle {
        height: 30px;
    }

    &.large {
        height: 40px;
    }

    .color-box {
        position: absolute;

        .input-color {
            position: relative;
            z-index: 2;

            &.show {
                animation: show 0.5s;
            }
            &.hide {
                animation: hide 0.5s;
            }
            &.none {
                display: none;
            }
        }
    }

    .color-preview {
        width: calc(100% - 10px);
        height: calc(100% - 10px);
        margin: 5px;
        border-right: 2px;
    }

    @keyframes show {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes hide {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
}
