.picker {
    display: none;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback';
    font-size: 14px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.picker .picker-mask {
    position: absolute;
    z-index: 500;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    background: rgba(0, 0, 0, 0);
    opacity: 0;
}
.picker .picker-mask.show {
    background: rgba(0, 0, 0, 0.6);
    opacity: 1;
}
.picker .picker-panel {
    position: absolute;
    z-index: 600;
    bottom: 0;
    width: 100%;
    height: 243px;
    background: #fff;
    transform: translateY(243px);
    -webkit-transform: translateY(243px);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.picker .picker-panel.show {
    transform: translateY(0);
    -webkit-transform: translateY(0);
}
.picker .picker-panel .picker-choose {
    position: relative;
    height: 50px;
    color: #878787;
    font-size: 14px;
}
.picker .picker-panel .picker-choose .picker-title {
    line-height: 50px;
    font-size: 19px;
    text-align: center;
    color: #333;
}
.picker .picker-panel .picker-choose .confirm,
.picker .picker-panel .picker-choose .cancel {
    position: absolute;
    padding: 10px;
    top: 6px;
}
.picker .picker-panel .picker-choose .confirm {
    right: 0;
    color: #007bff;
}
.picker .picker-panel .picker-choose .cancel {
    left: 0;
}
.picker .picker-panel .picker-content {
    position: relative;
}
.picker .picker-panel .picker-content .mask-top,
.picker .picker-panel .picker-content .mask-bottom {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 68px;
    pointer-events: none;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
}
.picker .picker-panel .picker-content .mask-top {
    top: 0;
    background: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.8));
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        from(rgba(255, 255, 255, 0.4)),
        to(rgba(255, 255, 255, 0.8))
    );
    background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.8));
}
.picker .picker-panel .picker-content .mask-top:before,
.picker .picker-panel .picker-content .mask-top:after {
    display: block;
    position: absolute;
    border-top: 1px solid #ccc;
    left: 0;
    width: 100%;
    content: ' ';
}
.picker .picker-panel .picker-content .mask-top:before {
    display: none;
    top: 0;
}
.picker .picker-panel .picker-content .mask-top:after {
    display: block;
    bottom: 0;
}
.picker .picker-panel .picker-content .mask-bottom {
    bottom: 0;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.8));
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(255, 255, 255, 0.4)),
        to(rgba(255, 255, 255, 0.8))
    );
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.8));
}
.picker .picker-panel .picker-content .mask-bottom:before,
.picker .picker-panel .picker-content .mask-bottom:after {
    display: block;
    position: absolute;
    border-top: 1px solid #ccc;
    left: 0;
    width: 100%;
    content: ' ';
}
.picker .picker-panel .picker-content .mask-bottom:before {
    display: block;
    top: 0;
}
.picker .picker-panel .picker-content .mask-bottom:after {
    display: none;
    bottom: 0;
}
.picker .picker-panel .wheel-wrapper {
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    padding: 0 10px;
}
.picker .picker-panel .wheel-wrapper .wheel {
    -ms-flex: 1 1 1e-9px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    -webkit-flex-basis: 1e-9px;
    flex-basis: 1e-9px;
    width: 1%;
    height: 173px;
    overflow: hidden;
    font-size: 21px;
}
.picker .picker-panel .wheel-wrapper .wheel .wheel-scroll {
    margin-top: 68px;
    line-height: 36px;
}
.picker .picker-panel .wheel-wrapper .wheel .wheel-scroll .wheel-item {
    height: 36px;
    overflow: hidden;
    white-space: nowrap;
    color: #333;
}
.picker .picker-footer {
    height: 20px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
    .border-1px::after,
    .border-1px::before {
        -webkit-transform: scaleY(0.7);
        -webkit-transform-origin: 0 0;
        transform: scaleY(0.7);
    }
    .border-1px::after {
        -webkit-transform-origin: left bottom;
    }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    .border-1px::after,
    .border-1px::before {
        -webkit-transform: scaleY(0.5);
        transform: scaleY(0.5);
    }
}
