@mixin flex-row-column-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin flex-column-row-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// 盒子模型
.box-model {
    width: 420px;
    height: 220px;
    border: 1px dashed #262626;
    @include flex-row-column-center;
    margin: 0 auto;
    position: relative;

    input {
        border: 0;
        text-align: center;
        outline: none;
    }

    .tag {
        position: absolute;
        left: 5px;
        top: 5px;
    }

    .margin-inner {
        @include flex-column-row-center;
        &input {
            width: 60px;
        }
    }

    .border {
        width: 300px;
        height: 160px;
        border: 1px dashed #262626;
        position: relative;
        @include flex-row-column-center;

        .box-input {
            width: 39px;
        }

        .border-inner {
            @include flex-column-row-center;
            .box-input {
                width: 60px;
            }
        }
    }

    .padding {
        width: 220px;
        height: 100px;
        border: 1px dashed #262626;
        position: relative;
        @include flex-row-column-center;
        .padding-input {
            width: 49px;
            height: 28px;
        }

        .padding-inner {
            @include flex-column-row-center;
            .padding-input {
                width: 60px;
                height: 28px;
            }
        }
    }

    .entity {
        width: 120px;
        height: 40px;
        border: 1px dashed #262626;
        @include flex-row-column-center;

        .entity-input {
            width: 50px;
            height: 30px;
        }
    }

    .box-input {
        width: 59px;
        height: 29px;
        text-align: center;
    }
}
