// 元素列表
.ele-list {
    width: 200px;
    height: 100%;
    border-right: 1px solid #d8d8d8;
    overflow-y: scroll;
    padding-bottom: 50px;
    background: #f5f5f5;

    .list-label {
        height: 50px;
        padding-left: 10px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        font-size: 16px;
    }

    .ele-item {
        height: 50px;
        border-bottom: 1px solid #d8d8d8;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-size: 16px;
        background: #fff;

        &:hover {
            color: #ea413c;
        }
    }
}

.ele-menu {
    position: absolute;
    left: 208px;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    background: #fff;

    .horn-bottom {
        position: absolute;
        z-index: 1;
        left: -20px;
        top: 10px;
        border-right: 10px solid #d9d9d9;
        border-left: 10px solid transparent;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
    }

    .horn-under {
        position: absolute;
        z-index: 2;
        left: -18px;
        top: 10px;
        border-right: 10px solid #fff;
        border-left: 10px solid transparent;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
    }

    .row {
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 0 10px;
        cursor: pointer;

        &:hover {
            background: #f5f5f5;
        }
    }
}
