.ele-box {
    position: relative;
    background: lightpink;
    outline: transparent dashed 1px;

    &.active {
        outline: #ea413c dashed 1px;

        .ctrl-point {
            position: absolute;
            width: 6px;
            height: 6px;
            border-radius: 3px;
            border: 1px solid #ea413c;
            background: #fff;
            z-index: 9999;


            &.top {
                top: -3px;
                left: calc(50% - 3px);
                cursor: n-resize;
            }

            &.right {
                top: calc(50% - 3px);
                right: -3px;
                cursor: e-resize;
            }

            &.bottom {
                bottom: -3px;
                left: calc(50% - 3px);
                cursor: s-resize;
            }

            &.left {
                left: -3px;
                top: calc(50% - 3px);
                cursor: w-resize;
            }

            &.center {
                left: calc(50% - 3px);
                top: calc(50% - 3px);
                cursor: move;
            }
        }
    }

    .ele-div {
        width: 100%;
        min-height: 50px;
    }

}

