// 侧边栏
.editor-side-bar {
    width: 450px;
    height: 100%;
    border-left: 1px solid #d8d8d8;

    .side-bar-box {
        color: #262626;
        position: relative;

        .nav {
            height: 50px;
            font-size: 24px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #d9d9d9;
            padding: 0 20px;

            .nav-item-box {
                width: 419px;
                height: 50px;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: flex-end;
            }

            .nav-item {
                font-size: 24px;
                padding: 10px 20px;
                cursor: pointer;
                border: 1px solid transparent;
                line-height: 1;

                &.actived {
                    color: #ea413c;
                    border-color: #d9d9d9 #d9d9d9 #fff #d9d9d9;
                    border-style: solid;
                    border-width: 1px;
                    border-top-left-radius: 2px;
                    border-top-right-radius: 2px;
                }
            }

            .save {
                width: 100px;
                height: 40px;
                border-radius: 4px;
                border: 0;
                background: lightskyblue;
                color: #fff;
                font-size: 24px;
            }

            .close {
                width: 30px;
                height: 30px;
                font-size: 20px;
                outline: none;
                cursor: pointer;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                &:hover {
                    color: #ea413c;
                }

                svg {
                    font-size: 24px;
                }
            }
        }
    }
}
