// 侧边栏
.side-bar {
    width: 450px;
    height: 100%;
    border-left: 1px solid #d8d8d8;
    overflow-y: scroll;
}

.tree {
    height: 100%;
    padding: 10px;

    .tree-item {
        cursor: pointer;
        height: 30px;
        line-height: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        span {
            font-size: 20px;
        }

        &:hover {
            color: #ea413c;
        }

        &.active {
            color: #ea413c;
            outline: 1px dashed #ea413c;
        }
    }
}

.attr-list {
    color: #262626;
    position: relative;

    .nav {
        height: 50px;
        font-size: 24px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        .nav-item {
            font-size: 16px;
            cursor: pointer;
        }

        .actived {
            color: red;
        }

        // ^^^^^^
        .save {
            width: 100px;
            height: 40px;
            border-radius: 4px;
            border: 0;
            background: lightskyblue;
            color: #fff;
            font-size: 24px;
        }

        .close {
            width: 30px;
            height: 30px;
            font-size: 20px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            outline: none;
        }
    }

    .attr-card {
        padding: 20px;
        border-top: 1px solid #d8d8d8;

        .card-title {
            font-size: 22px;
        }

        .card-content {
            padding: 10px 0 0;

            .row {
                min-height: 30px;
                margin-bottom: 20px;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                font-size: 16px;

                >span {
                    display: inline-block;
                    width: 100px;
                }

                input {
                    padding-left: 10px;
                    width: 198px;
                    height: 30px;
                    border: 1px solid #d9d9d9;
                }

                textarea {
                    padding-left: 10px;
                    width: 198px;
                    height: 80px;
                    border: 1px solid #d9d9d9;
                    resize: none;
                }

                .size-text {
                    width: 20px;
                    margin-right: 10px;
                }

                .size-input {
                    padding: 0;
                    width: 40px;
                    margin-right: 10px;
                }
            }

            .column {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;

                .title {
                    margin-bottom: 10px;
                }
            }

            .extra {
                width: 360px;
                height: 200px;
                resize: none;
                border: 1px solid#d9d9d9;
                padding: 10px;
            }

            .del-ele {
                width: 80%;
                height: 40px;
                margin: 20px auto;
            }

            .icon-input {
                width: 320px !important;
            }

        }
    }

    .icon-box {
        width: 400px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;

        .icon-item {
            width: 30px;
            height: 30px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            border: 1px solid transparent;
            border-radius: 2px;

            &:hover {
                top: -4px;
                box-shadow: 0px 10px 14px 0 rgba(0,0,0,0.08);
                border: 1px solid #d9d9d9;
            }
        }
    }
}

.attr-phantom {
    width: 200px;
    height: 90px;
    background: #fff;
    border: 1px solid #d9d9d9;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;

    .row {
        height: 30px;
        line-height: 30px;
        padding: 0 10px;
        cursor: pointer;

        &:hover {
            background: #f5f5f5;
        }
    }
}
