* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-size: 12px;
}

p {
    margin-bottom: 0;
}

html,
body,
#page-root {
    width: 100%;
    height: 100%;
}

/*------ 按钮 ------*/
.button {
    height: 40px;
    padding: 0 20px;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #fff;
    transition: background 0.4s;
    white-space: nowrap;

    svg {
        font-size: 16px;
    }

    &.blank {
        border: 1px solid #d9d9d9;
        color: #262626;
    }

    &.primary {
        background: #1890ff;
        &:hover {
            background: #40a9ff;
        }
    }

    &.secondary {
        background: #6c757d;
        &:hover {
            background: #7A848D;
        }
    }

    &.success {
        background: #28a745;
        &:hover {
            background: #2AB64F;
        }
    }

    &.info {
        background: #17a2b8;
    }

    &.warrning {
        background: #ffc107;
        &:hover {
            background: #FAD157;
        }
    }

    &.danger {
        background: #ff4d4f;
    }
}

/*------ 图标 ------*/
.icon {
    display: inline-block;
    width: 15px;
    height: 15px;
}

/*------ swiper ------*/
.swiper-pagination-bullet {
    width: 16px;
    height: 16px;
}
