{
    "tabWidth": 4,
    "trailingComma": "all",
    "semi": true,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "printWidth": 120,
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "arrowParens": "avoid",
    "proseWrap": "preserve"
}

