.toast-box {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 4px;
    font-size: 18px;
    color: #fff;
    z-index: 99999;

    &.block {
        display: block;
    }

    &.none {
        display: none;
    }
}
