<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="./css/index.css">
    </head>
    <body>
        <div>
            <div id='A' class='A'  >
                1111
            </div>
            <div id='B' class='B'  >
                <div id='C' class='C'  >
                    3333
                </div>
                <div id='D' class='D'  >
                    <div id='E' class='E'  >
                        444
                    </div>
                    <div id='F' class='F'  >
                        555
                    </div>
                </div>
            </div>
            <image id='G' class='G' src='//www.baidu.com/img/bd_logo1.png' />
        </div>
        <script src="./js/index.js"></script>
    </body>
</html>